fa-icon {
  color: #cc5500;
  margin: 15px 10px;
  padding: 3px 8px;
  border-radius: 3px;
}

.add-section {
  width: 100%;
  margin: 15px;

  a {
    width: 100%;
    display: inline-block;
  }
}


a:hover {
    text-decoration: none;
    fa-icon {
      border-radius: 50px;
      background-color: rgba(200, 0, 0, 0.5);
      color: white;
      margin: 10px;
      padding-bottom: 5px;
    }
}

