.month-section {
  display: inline-block;
  width: 13%;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  background-color: rgba(100, 150, 150, 0.2);
  border: 1px solid white;

  a {
    color: black;
    text-decoration: none;
  }

  a:hover {
    color: white;
  }
}

.month-section:hover {
  background-color: rgba(100, 100, 100, 0.5);
}
